<h1>3D Scans</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each scans.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each scans}}
        <tr>
            <td>{{this.scanID}}</td>
            <td>{{this.scanDate}}</td>
            <td>{{this.fileName}}</td>
            <td>{{this.artifactID}}</td>
            <td>{{this.techID}}</td>
            <td>{{this.labPOCID}}</td>
            <td>{{this.units}}</td>
            <td>{{this.scanMethod}}</td>
            <td>{{this.derived}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>
