<h1>3D Scans</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each scans.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each scans}}
        <tr>
            <td>{{this.scanID}}</td>
            <td>{{this.scanDate}}</td>
            <td>{{this.fileName}}</td>
            <td>{{this.artifactID}}</td>
            <td>{{this.techID}}</td>
            <td>{{this.labPOCID}}</td>
            <td>{{this.units}}</td>
            <td>{{this.scanMethod}}</td>
            <td>{{this.derived}}</td>
           
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>Update a Scan</h2>
<form class='cuForm' id='update_scan_form'>
    <label for='update_scan_id'>Scan to Update: </label>
    <select name='update_scan_id' id='update_scan_id' required>
        <option value='' disabled selected>Select a Scan</option>
        {{#each scans}}
        <option value='{{this.scanID}}' required>
            {{this.scanID}}
            -
            {{this.fileName}}
        </option>
        {{/each}}
    </select>

    <label for='update_scan_tech'>Technician: </label>
    <select name='update_scan_tech' id='update_scan_tech'>
        <option value='NULL' disabled selected>Select a Technician</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each techs}}
        <option value='{{this.techID}}' required>
            {{this.techFName}} 
            {{this.techLName}}
            -
            {{this.techEmail}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>